html {
	transition: background 1s;
	-webkit-transition: background 1s;
}

h1 {
	font-family:  Courier New;
	font-size: 50px;
	text-align: center;
}

h2 {
	font-family:  Courier New;
	font-size: 30px;
	text-align: center;
}

button {
	padding: 16px;
}

.middle {
	text-align: center;
	font-size: 25px;
	font-family: Courier New;
	margin-left: 120px;
	margin-right: 120px;
}
.colbutton {
	width: 120px;
	font-size: 20px;
	border-radius: 15px;
	font-family: Trebuchet MS;
}

.nightbutton { 
	width: 120px;
	font-size: 20px;
	border-radius: 15px;
	font-family: Trebuchet MS; 
}


.contemporary { 
	width: 120px;
	font-size: 20px;
	border-radius: 15px;
	font-family: Trebuchet MS; 
}

.mosaics { 
	width: 120px;
	font-size: 20px;
	border-radius: 15px;
	font-family: Trebuchet MS; 
}

.photographs { 
	width: 120px;
	font-size: 20px;
	border-radius: 15px;
	font-family: Trebuchet MS; 
}

.tradclass { 
	width: 200px;
	font-size: 20px;
	border-radius: 15px;
	font-family: Trebuchet MS; 
}

.contact {
	text-align: center;
}


.contact {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}










>>>>>>> a summary of what I did
