html {
	transition: background 1s;
	-webkit-transition: background 1s;
}

h1 {
	font-family:  Courier New;
	font-size: 50px;
	text-align: center;
}

h2 {
	font-family:  Courier New;
	font-size: 30px;
	text-align: center;
}

button {
	padding: 16px;
}

div{
    text-align: center;
}

.middle {
	text-align: center;
	font-size: 25px;
	font-family: Courier New;
	margin-left: 120px;
	margin-right: 120px;
}
.colbutton {
	width: 120px;
	font-size: 20px;
	border-radius: 15px;
	font-family: Trebuchet MS;
	position: relative;
}

.nightbutton { 
	width: 120px;
	font-size: 20px;
	border-radius: 15px;
	font-family: Trebuchet MS; 
	position: relative;
}


.contemporary { 
	width: 220px;
	font-size: 20px;
	border-radius: 15px;
	font-family: Trebuchet MS;
	position: relative; 
}

.mosaics { 
	width: 220px;
	font-size: 20px;
	border-radius: 15px;
	font-family: Trebuchet MS; 
	position: relative;
}

.photographs { 
	width: 220px;
	font-size: 20px;
	border-radius: 15px;
	font-family: Trebuchet MS;
	position: relative; 
}

.tradclass { 
	width: 220px;
	font-size: 20px;
	border-radius: 15px;
	font-family: Trebuchet MS;
	position: relative; 
}

.contact {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}






